

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.navbar-header img#logo {
	padding: 5px 10px 0px 5px;
}
.dropdown-header {
	padding: 3px 10px;
}
.navbar-nav {
	float: right;
}
.navbar-nav #home {
	width: 69px;
}
.navbar-nav #services {
	width: 102px;
}
.navbar-nav #products {
	width: 198px;
}
.navbar-nav #consulting	{
	width: 106px;
}
.navbar-nav #contact {
	width: 171px;
}
.navbar-default .navbar-nav>li>a {
	text-align: center;
}
.navbar-default .navbar-nav>.active>a {
	color: #fff;
	background-image: linear-gradient(to bottom, #2eaadd, #2eccdd 100%);
}
.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active.open>a {
	color: #fff;
	font-weight: bold;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.open>a {
	font-weight: bold;
}
.jumbotron {
	padding: 0;
	background-color: #fff;
}
.jumbotron #video-play {
		background-image: url(../img/banner-full.png);
		background-repeat: no-repeat;
		background-position: center center;
		padding-top: 260px;
		padding-bottom: 193px;
}
#video-play-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}
#footer {
	background-color: #3a4247;
	padding-top: 20px;
}
#footer #footer-left{
	float: left;
	width: 33%;
}
#footer #footer-mid{
	float: left;
	width: 34%;
}
#footer #footer-right{
	float: right;
	width: 33%;
}

#footer #footer-mid li{
	list-style: none;
}
#footer #footer-mid li a{
	background-image: url(../img/link-arrow.png);
	background-position: left;
	background-repeat: no-repeat;
	margin-left: -25px;
	padding-left: 25px;
}
#footer li a, #footer p{
	text-decoration: none;
	color: white;
	
}
#phone-number{
	background-image: url(../img/phone.png);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 30px;
}
#email-address{
	background-image: url(../img/email.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 30px;
	text-decoration: none;
	color: white;
}
#address{
	background-image: url(../img/address.png);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 30px;
}
#footer h2{
	color: #59b200;
	font-size: 1.5em;
}
#footer h3{
	color: #59b200;
	font-size: 1.2em;
}
#social-links{
	margin-left: auto;
	margin-right: auto;
	margin-top: 12px;
	margin-bottom: 9px;
	width: 176px;
	padding: 0;
}
#footer-mid h2:first-child{
	margin-top: 40px;
}
.social-link{
	background-repeat: no-repeat;
	background-position: center;
	padding: 18px 20px;
	margin: 0 2px;
}
#link-facebook{
	background-image: url(../img/facebook.png);
}
#link-google{
	background-image: url(../img/google.png);
}
#link-twitter{
	background-image: url(../img/twitter.png);
}
#link-youtube{
	background-image: url(../img/youtube.png);
}
#social-snippets{
	margin-top: 25px;
}
.testimony{
	padding-left: 35px;
	padding-bottom: 5px;
}
.testimony.twitter{
	background-image: url(../img/twitter-white.png);
	background-repeat: no-repeat;
}
.testimony.facebook{
	background-image: url(../img/facebook-white.png);
	background-repeat: no-repeat;
}
.testimony.google{
	background-image: url(../img/google-white.png);
	background-repeat: no-repeat;
}
.testimony.youtube{
	background-image: url(../img/youtube-white.png);
	background-repeat: no-repeat;
}
footer {
	clear: both;
	text-align: center;
}
















